# Target Configuration
CONFIG_IDF_TARGET="esp32c6"

# WiFi Configuration
CONFIG_WIFI_SSID="DoNotSetTheRealValueHere"
CONFIG_WIFI_PASSWORD="PutTheRealPassInTheSdkconfigFile"

# ATECC608A Configuration
CONFIG_ATCA_I2C_SDA_PIN=22
CONFIG_ATCA_I2C_SCL_PIN=23
CONFIG_ATCA_I2C_ADDRESS=0xC0
CONFIG_ATCA_I2C_BAUD_RATE=1000000
CONFIG_ATECC608A_TCUSTOM=y
